{% load static %}
<div class="row">
    <div class="active-recent-blog-carousel owl-carousel owl-theme">
        <div class="single-recent-blog-post item">
            <div class="thumb">
                <img class="img-fluid" src="{% static 'img/b1.jpg' %}" alt="Low Cost Advertising image">
            </div>
            <div class="details">
                <div class="tags">
                    <ul>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Life Style</a></li>
                    </ul>
                </div>
                <a href="#">
                    <h4 class="title">Low Cost Advertising</h4>
                </a>
                <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.</p>
                <h6 class="date">31st January, 2018</h6>
            </div>
        </div>

        <div class="single-recent-blog-post item">
            <div class="thumb">
                <img class="img-fluid" src="{% static 'img/b2.jpg' %}" alt="Creative Outdoor Ads image">
            </div>
            <div class="details">
                <div class="tags">
                    <ul>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Life Style</a></li>
                    </ul>
                </div>
                <a href="#">
                    <h4 class="title">Creative Outdoor Ads</h4>
                </a>
                <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.</p>
                <h6 class="date">31st January, 2018</h6>
            </div>
        </div>

        <div class="single-recent-blog-post item">
            <div class="thumb">
                <img class="img-fluid" src="{% static 'img/b3.jpg' %}" alt="It's Classified How To Utilize Free image">
            </div>
            <div class="details">
                <div class="tags">
                    <ul>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Life Style</a></li>
                    </ul>
                </div>
                <a href="#">
                    <h4 class="title">It's Classified How To Utilize Free</h4>
                </a>
                <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.</p>
                <h6 class="date">31st January, 2018</h6>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".active-recent-blog-carousel").owlCarousel({
            items: 3,
            loop: true,
            margin: 30,
            nav: true,
            dots: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            responsive: {
                0: { items: 1 },
                600: { items: 2 },
                1000: { items: 3 }
            }
        });
    });
</script>